@import "colors";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-padding-top:112px;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
    transition: background-color .6s;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    // margin-bottom: 40px;
    width: 60px;
    height: 4px;
    background-color: $main-color;
}
.aboutus-hover:hover{
    color:$main-color;
    transition: color .8s;
}

.aboutus-card-title {

    font-size: 18px;
    text-transform: uppercase;
}

.aboutus-card-text {
    font-size: 14px;
}
.fa-solid{
    
        margin-top: 20px;
        font-size: 30px;
    
}
.aboutus-hero{
    position:relative;
    background-image:url("../img/technology_640.jpg");
    background-position: center;
    background-size: cover;
    color:$light-gray;
    z-index: 0;

    .aboutus-shadow{
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        background-color: rgba(0,0,0,.7);
        z-index: -5;
    }
}

nav {
    z-index: 1;

    .nav-link {
        color: $white-color;
    }

    .nav-link:hover {
        color: $main-color;
    }

    .navbar-brand {
        font-weight: bold;
        color: $white-color;
        text-transform: uppercase;

        span {
            color: $main-color;
        }


    }

    .navbar-nav {
        .nav-link.active {
            color: $main-color
        }

        color:$white-color;
    }

    .navbar-brand:right {
        color: $main-color;
    }

    .active {
        color: $main-color;
    }

    .fa-bars {
        padding: 10px;
        color: $white-color;
    }
}

header {


    h1 {
        text-transform: uppercase;
        font-size: 30px;

        span {
            color: $main-color;
        }
    }

    p {
        font-size: 14px;
    }

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url("../img/playstation_640.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: -10;
    }

    .hero-text {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
    }

    .btn-outline-light {
        text-transform: uppercase;
    }

    .fa-angles-down {
        position: absolute;
        bottom: 20px;
        font-size: 30px;
        transform: translateX(-50%);
        left: 50%;
        color: $white-color;
    }
}

@media (min-width:1200px) {
    header {
        .hero-img {
            background-image: url("../img/playstation_1920.jpg")
        }
    }
}

@media(min-width:375px) {
    header {
        h1 {
            font-size: 36px;
            text-align: center;
        }

        p {
            font-size: 16px;
        }
    }
}

@media(min-width:768px) {
    header {
        h1 {
            font-size: 42px;
        }

        p {
            font-size: 20px;
        }
    }
}
@media(min-width:992px) {
    html{
        scroll-padding-top:72px;
    }
}